
:root {
    --primary-color: #3574E1;
    --secondary-color: #111C99;
    --accent1-color: #FFFFFF;
    --accent2-color: #E68C17;
    --heading-font: 'Inconsolata',monospace;
    --text-font: 'Roboto', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px;
}
head img{
    grid-column: 1;
}

body {
    font-family: var(--text-font);
    color: var(--primary-color);
    background-color:var(--accent1-color);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header h1{
    grid-column: 2;

}
p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-color);
}


.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2.5rem;
    color: var(--accent1-color);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}


.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
}
.hero article img {
    float: right;
    margin-left: 15px;
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.history, .adventure{
    text-align: center;
    padding: 25px;

}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery figure{
    text-align: center;
    max-width: 300px;
}

.gallery img{
    width: 90%;
    border-radius: 5px;
}


.sociallinks a {
    display: flex;
    gap: 10px;
}
.sociallinks img{
    width: 30px;
}
nav a {
    color: var(--accent2-color);
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
nav{
    grid-column: 2;
    text-align: right;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
nav li{
    list-style: none;
    margin: 0 10px;
}


img {
    max-width: 100%;
    height: auto;
}
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}